<!DOCTYPE html>
<html>
    <head>
        <title>購物車</title>
        <script src="../static/111602019_js_2.js"></script>
    </head>
    
    <body>
        <h1>購物車</h1>
        <table border="2">
            <thead>
                <tr>
                    <th><input type="checkbox" id="checkAll"></th>
                    <th>商品名稱</th>
                    <th>商品庫存</th>
                    <th>單價</th>
                    <th>數量</th>
                    <th>總計</th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td><input type="checkbox" class="item-check"></td>
                    <td>
                        <img src="https://img.pchome.com.tw/cs/items/DSABF1A900I1PHX/000001_1730795166.jpg" width="200" valign="middle">
                        BenQ 護眼螢幕
                    </td>
                    <td class="stock" align="center">18</td>
                    <td class="price" align="center">2588</td>
                    <td align="center">
                        <button class="minus">-</button>
                        <input type="text" class="qty" value="1">
                        <button class="plus">+</button>
                    </td>
                    <td class="subtotal" align="center">2588</td>
                </tr>
                
                <tr>
                    <td><input type="checkbox" class="item-check"></td>
                    <td>
                        <img src="https://img.pchome.com.tw/cs/items/DAAN3PA900H1D9D/000001_1757384061.jpg" width="200" valign="middle">
                        3M 博視燈
                    </td>
                    <td class="stock" align="center">89</td>
                    <td class="price" align="center">1618</td>
                    <td align="center">
                        <button class="minus">-</button>
                        <input type="text" class="qty" value="1">
                        <button class="plus">+</button>
                    </td>
                    <td class="subtotal" align="center">1618</td>
                </tr>

                <tr>
                    <td><input type="checkbox" class="item-check"></td>
                    <td>
                        <img src="https://img.pchome.com.tw/cs/items/DGCS3LA900HPWN8/000001_1723085760.jpg" width="200" valign="middle">
                        DJI MINI 4 Pro
                    </td>
                    <td class="stock" align="center">18</td>
                    <td class="price" align="center">6988</td>
                    <td align="center">
                        <button class="minus">-</button>
                        <input type="text" class="qty" value="1">
                        <button class="plus">+</button>
                    </td>
                    <td class="subtotal" align="center">6988</td>
                </tr>
            </tbody>
            
            <tfoot>
                <tr>
                    <td colspan="5" align="center">Total</td>
                    <td id="total" align="center">0</td>
                </tr>
            </tfoot>
        </table>

    </body>
</html>