<!DOCTYPE html>
<html>
    <head>
        <title>
            111602019_游承翰
        </title>
        <link rel="stylesheet" href="../static/css/111602019_css.css">
    </head>
    <body>
        <nav class="navbar">
            <ul>
                <li><a href="">關於我們</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">連結</a>
                    <div class="dropdown-content">
                        <a href="https://www.facebook.com" target="_blank">Facebook</a>
                        <a href="https://www.youtube.com" target="_blank">YouTube</a>
                        <a href="https://www.instagram.com" target="_blank">Instagram</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="main-content">
            <h1>3 Facts About Brian</h1>
            <table border="1">
                <tr>
                    <th>
                        <a href="111602019_detail.html">
                            <img src="../static/img/kaohsiung.jpg"
                                 alt="路徑無效"
                                 width="600"
                                 height="450">
                        </a>
                    </th>
                    <th>
                        <a href="https://www.me.ncu.edu.tw/">
                            <img src="../static/img/NCUME.jpg"
                                 alt="路徑無效"
                                 width="600"
                                 height="450">
                        </a>
                    </th>
                    <th>
                        <a href="https://www.cyclingnews.com">
                            <img src="../static/img/UAETE.jpg"
                                 alt="路徑無效"
                                 width="600"
                                 height="450">
                        </a>
                    </th>
                </tr>
                <tr>
                    <th>
                        <h1></h1>
                        <font face="arial" size="5">Hometown: Kaohsiung</font>
                        <h1></h1>
                    </th>
                    <th>
                        <font face="arial" size="5">Major: Mechanical Engineering</font>
                    </th>
                    <th>
                        <font face="arial" size="5">Habit: Cycling</font>
                    </th>
                </tr>
            </table>
    </body>
</html>