<!DOCTYPE html>
<html>
    <body>
        <h1></h1>
        <font face="arial" size="10"><b>Kaohsiung</b></font>
        <h1></h1>
        <pre><font face="arial" size="5"><b>著名景點</b></font></font></pre>
        <ul>
            <li>駁二藝術特區</li>
            <li>橋頭糖廠</li>
            <li>澄清湖</li>
        </ul>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/m-QDbv9Zamc?si=pmR9vTcHEb5gRBHV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h1>-----------------------------------------------------</h1>
        <pre><font face="arial" size="5"><b>回饋表單</b></font></font></pre>
        <form action="" method="">
            <label for="input_1">姓名：</label>
            <input name="input_1" id="input_1">
            <h1></h1>
            <label for="select_1">你是從哪裡知道這個網站的？</label>
            <select name="select_1" id="select_1">
                <option value="Facebook">Facebook</option>
                <option value="Instagram">Instagram</option>
                <option value="Youtube">Youtube</option>
            </select>
            <h1></h1>
            <b>你居住的地方：</b>
            <h1></h1>
            <input type="radio" name="radio_1" id="radio_1" value="radio_1">
            <label for="radio_1">北部</label><br>
            <input type="radio" name="radio_1" id="radio_2" value="radio_2">
            <label for="radio_2">中部</label><br>
            <input type="radio" name="radio_1" id="radio_3" value="radio_3">
            <label for="radio_3">南部</label><br>
            <input type="radio" name="radio_1" id="radio_4" value="radio_4">
            <label for="radio_4">東部</label><br>
            <input type="radio" name="radio_1" id="radio_5" value="radio_5">
            <label for="radio_5">離島</label><br>
            <h1></h1>
            <b>以上著名景點你會想去哪些地方：</b>
            <h1></h1>
            <input type="checkbox" name="checkbox_1" id="checkbox_1" checked>
            <label for="checkbox_1">駁二藝術特區</label><br>
            <input type="checkbox" name="checkbox_2" id="checkbox_2">
            <label for="checkbox_2">橋頭糖廠</label><br>
            <input type="checkbox" name="checkbox_3" id="checkbox_3">
            <label for="checkbox_3">澄清湖</label><br>
            <h1></h1>
            <a href="111602019_index.html">
                <button type="button">提交</button>
            </a>
        </form>
    </body>
</html>