<!DOCTYPE html>
<html>
<head>
    <title>
        111602019_游承翰
    </title>
</head>
<body>
    <h1></h1>
    <font face="arial" size="10"><b>3 Facts About Brian</b></font>
    <h1></h1>
    <table border="1">
        <tr>
            <th>
                <a href="111602019_detail.html">
                    <img src="../static/img/kaohsiung.jpg"
                         alt="路徑無效"
                         width="600"
                         height="450">
                </a>
            </th>
            <th>
                <a href="https://www.me.ncu.edu.tw/">
                    <img src="../static/img/NCUME.jpg"
                         alt="路徑無效"
                         width="600"
                         height="450">
                </a>
            </th>
            <th>
                <a href="https://www.cyclingnews.com">
                    <img src="../static/img/UAETE.jpg"
                         alt="路徑無效"
                         width="600"
                         height="450">
                </a>
            </th>
        </tr>
        <tr>
            <th>
                <h1></h1>
                <font face="arial" size="5">Hometown: Kaohsiung</font>
                <h1></h1>
            </th>
            <th>
                <font face="arial" size="5">Major: Mechanical Engineering</font>
            </th>
            <th>
                <font face="arial" size="5">Habit: Cycling</font>
            </th>
        </tr>
    </table>
</body>
</html>